*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'shashank',sans-serif;
    text-align: center;
    background-image: url(../images/login-bg.jpg);
    background-size: cover;
    text-align: center;
}

.seatWrapper{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 20px ;
}

table {
    margin: 40px auto 0;
}

tr td {
    padding: 5px;
}
table button {
    color: #000;
    background-color: #fff;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    user-select: none;
}

.booked {
    background-color: #a0a0a0;
    color: #fff;
}

.selected  {
    background-color: rgb(64, 199, 64);
    color: #fff;
}