<div class="formWrapper">
    <form class="">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Your Name" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail" type="mail">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary">Submit</button>
    </form>
</div>
