*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(../images/login-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #fff;
    min-height: 100vh;
    font-family: 'poppinsregular', sans-serif;
    position: relative;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

header #myNav{
    background-color: #e74d3c;
    border: 1px solid #e74d3c;
    color: #fff;
}

header #myNav a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

ul .dropdown-menu{
    background-color: #e74d3c;
}

header #myNav input{
    width: 300px;
}

#productWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#productWrapper .productCard{
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid #a0a0a0;
    box-shadow: 0 0 10px 5px rgba(210, 210, 210, 0.7);
    border-radius: 5px;
}

#cartWrapper div{
    margin-bottom: 30px;
}


._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
}
._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}

#detailWrapper{
    display: flex;
    height: calc(100vh - 75px);
    justify-content: center;
    align-items: center;
    align-content: center;
}