<table>
  <caption>Calculator</caption>
    <tr><td colspan="4"><input type="text" placeholder="calculator"></td></tr>
    <tr>
      <td><app-digit-button [btnValue]="'9'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'8'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'7'"></app-digit-button></td>
      <td><app-special-button  [btnValue]="'+'"></app-special-button></td>
    </tr>
    <tr>
      <td><app-digit-button  [btnValue]="'6'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'5'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'4'"></app-digit-button></td>
      <td><app-special-button  [btnValue]="'-'"></app-special-button></td>
    </tr>
    <tr>
      <td><app-digit-button  [btnValue]="'3'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'2'"></app-digit-button></td>
      <td><app-digit-button  [btnValue]="'1'"></app-digit-button></td>
      <td><app-special-button  [btnValue]="'*'"></app-special-button></td>
    </tr>
    <tr>
      <td><app-special-button  [btnValue]="'C'"></app-special-button></td>
      <td><app-digit-button  [btnValue]="'0'"></app-digit-button></td>
      <td><app-special-button  [btnValue]="'='"></app-special-button></td>
      <td><app-special-button  [btnValue]="'/'"></app-special-button></td>
    </tr>
</table>