* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppinsmedium, sans-serif;
}

/* header css start */

header {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 999;
}

.profile {
    display: flex;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

#profile {
    background-color: aqua;
}

ul li{
    display: inline-block;
    
}

/* header css end */

/* sideBar css start*/

.sideBar {
    display: inline-block;
    width: 200px;
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    
}

.sideBar h4 {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: yellowgreen;
    text-align: center;
}

.sideBar a {
    display: block;
    text-decoration: none;
    padding: 0 0 5px 10px;
}

.items {
    height: 100vh;
}

.btnGrad {
    width: 200px;
    background: linear-gradient(to left, yellow ,red);
}

.logoutBtn {
    position: fixed;
    bottom: 0;
    left: 0;
}
/* sideBar css end */

/* floating css start */

.floating {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 999;
    transform: translate(0,-50%);
    background-color: yellowgreen;
}

.socialLinks {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    text-align: center  ;
}

.socialLinks a {
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
/* floating css end */


.dabba {
    height: 500px;
    width: 500px;
    background-color: yellowgreen;
    position: absolute;
    top: 50%;
    left: calc(50% + 200px);
    transform: translate( -50% , -50%);
}

