* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppinsmedium, sans-serif;
}

h2 {
    text-transform: capitalize;
    color: #337ab7;
}

.menu-wrapper {
    text-align: center;
}

.menu{
    display: inline-block;
    float: none;
}

.firstRow div {
    margin-bottom: 20px;
}

.border {
    border: 1px solid #eee;
    padding: 40px 20px;
}

/* Calculator CSS start */

section {
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
  }

table td {
    width: 20px;
}

table tr:nth-child(2) td input {
    background-color: grey;
}

table input {
    width: 100%;
    height: 50px;
}

#equal {
    height: 250px;
    width: 100%;
    text-align: center;
    line-height: 250px;
    background-color: #337ab7;
    color: #fff;
}