<section class="wrapper">
    <div class="formWrapper">
        <h1>User Login</h1>
        <form>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" type="mail" [(ngModel)]="loginMail" [ngModelOptions]="{ standalone : true}">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginPassword" [ngModelOptions]="{ standalone : true}">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                </button>
            </mat-form-field>
            <button  type="button" mat-flat-button color="primary" (click)="authenticate()" [routerLink]="path">Login</button>
        </form>
        <p>Don't have an account? <a routerLink="register">Sign Up</a></p>
    </div>
</section>
